<div class="certification-card"
     data-name="{{ include.cert.name }}"
     data-date="{{ include.cert.date }}"
     data-result="{{ include.cert.result }}"
     data-description="{{ include.cert.description }}"
     data-image="{{ include.cert.image | relative_url }}">
  <div class="cert-info">
    <h3 class="cert-title">{{ include.cert.name }}</h3>
    <p class="cert-result">{{ include.cert.result }}</p>
    <span class="cert-date">{{ include.cert.date | date: "%B %Y" }}</span>
  </div>
</div>